## Como Importar e Organizar seus Dados - Parte I


* Seguem as respostas sugeridas (geralmente, existem várias maneiras de resolver um problema em Python). *


 A. (* Desafio! *) Crie um objeto de série de 10 valores inteiros gerados aleatoriamente.

In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.randint(10, size = 10, dtype = 'int'), name = "Coluna 01")

In [3]:
ser

0    2
1    0
2    5
3    0
4    8
5    1
6    3
7    5
8    1
9    0
Name: Coluna 01, dtype: int32

B. Extraia os dados da yahoo para a Vale S.A. de 1º de janeiro de 2015 até o dia atual. O ticker de que você precisa é ‘VALE3.SA’.

In [4]:
from pandas_datareader import data as wb

In [5]:
Vale = wb.DataReader('VALE3.SA', data_source='yahoo', start='2015-1-1')

In [6]:
Vale

                 High        Low       Open      Close      Volume  Adj Close
Date
2015-01-02  21.950001  21.059999  21.700001  21.280001   5658400.0  14.141929
2015-01-05  21.129999  20.510000  20.760000  20.959999   8603000.0  13.929265
2015-01-06  22.129999  21.070000  21.070000  21.799999   9879900.0  14.487500
2015-01-07  22.809999  21.969999  22.320000  22.600000   6130900.0  15.019153
2015-01-08  22.879999  22.110001  22.770000  22.840000   4667300.0  15.178648
...               ...        ...        ...        ...         ...        ...
2022-03-28  96.339996  93.610001  95.699997  95.339996  16274200.0  95.339996
2022-03-29  95.660004  93.400002  95.339996  94.519997  38228800.0  94.519997
2022-03-30  97.110001  95.269997  96.320000  95.870003  22007500.0  95.870003
2022-03-31  96.889999  95.360001  96.419998  95.599998  17981400.0  95.599998
2022-04-01  97.500000  96.070000  96.779999  96.959999  22407600.0  96.959999

[1801 rows x 6 columns]

In [7]:
Vale.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1801 entries, 2015-01-02 to 2022-04-01
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       1801 non-null   float64
 1   Low        1801 non-null   float64
 2   Open       1801 non-null   float64
 3   Close      1801 non-null   float64
 4   Volume     1801 non-null   float64
 5   Adj Close  1801 non-null   float64
dtypes: float64(6)
memory usage: 98.5 KB

In [8]:
Vale.head(22)

                 High        Low       Open      Close      Volume  Adj Close
Date
2015-01-02  21.950001  21.059999  21.700001  21.280001   5658400.0  14.141929
2015-01-05  21.129999  20.510000  20.760000  20.959999   8603000.0  13.929265
2015-01-06  22.129999  21.070000  21.070000  21.799999   9879900.0  14.487500
2015-01-07  22.809999  21.969999  22.320000  22.600000   6130900.0  15.019153
2015-01-08  22.879999  22.110001  22.770000  22.840000   4667300.0  15.178648
2015-01-09  22.850000  22.290001  22.590000  22.350000   3577300.0  14.853012
2015-01-12  22.650000  21.930000  22.110001  22.639999   4735200.0  15.045734
2015-01-13  23.129999  22.510000  22.700001  22.510000   6096400.0  14.959345
2015-01-14  22.000000  20.690001  21.799999  20.700001  10902600.0  13.756480
2015-01-15  21.260000  20.450001  20.799999  20.940001   5822800.0  13.915976
2015-01-16  22.219999  20.850000  21.049999  21.879999   4004300.0  14.540663
2015-01-19  21.680000  21.299999  21.450001  21.650000   2139300.0  14.387815
2015-01-20  22.080000  21.520000  22.080000  21.740000   2060900.0  14.447625
2015-01-21  22.280001  21.510000  21.870001  22.080000   2841600.0  14.673577
2015-01-22  22.870001  21.760000  22.350000  21.910000   4077500.0  14.560603
2015-01-23  22.870001  20.469999  22.350000  20.520000   7374000.0  13.636860
2015-01-26  20.110001  19.570000  20.010000  19.580000   5010900.0  13.012168
2015-01-27  19.540001  18.580000  19.370001  19.000000   5926800.0  12.626722
2015-01-28  19.350000  18.650000  18.719999  18.889999   4019900.0  12.553620
2015-01-29  19.209999  17.910000  19.000000  18.049999   8705800.0  11.995385
2015-01-30  18.680000  17.650000  17.700001  18.610001   7360500.0  12.367542
2015-02-02  19.820000  18.650000  18.950001  19.740000   6374000.0  13.118497

In [9]:
Vale.tail(22)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-03-03,101.260002,99.500000,100.199997,99.699997,38621400.0,96.026161
2022-03-04,102.089996,98.120003,98.680000,101.970001,30533200.0,98.212517
2022-03-07,105.900002,103.870003,104.440002,105.070000,55305300.0,101.198288
2022-03-08,107.110001,99.720001,106.989998,100.459999,53060200.0,96.758156
2022-03-09,95.800003,92.559998,95.790001,94.190002,41051200.0,94.190002
2022-03-10,97.300003,94.080002,94.500000,97.300003,33107000.0,97.300003
2022-03-11,98.410004,96.760002,97.430000,96.790001,24321500.0,96.790001
2022-03-14,95.199997,91.250000,94.980003,91.599998,37172800.0,91.599998
2022-03-15,89.580002,87.279999,88.989998,88.970001,47128500.0,88.970001
2022-03-16,93.879997,89.309998,91.889999,91.129997,37906100.0,91.129997
2022-03-17,94.980003,92.570000,92.900002,94.300003,40663500.0,94.300003
2022-03-18,96.089996,93.800003,95.410004,96.089996,46080900.0,96.089996
2022-03-21,99.430000,97.150002,97.330002,98.809998,25374600.0,98.809998
2022-03-22,98.959999,96.190002,98.510002,96.599998,29489800.0,96.599998
2022-03-23,98.940002,96.290001,97.500000,96.449997,26309600.0,96.449997
2022-03-24,97.599998,95.309998,96.199997,96.910004,23122800.0,96.910004
2022-03-25,98.300003,94.300003,97.699997,95.230003,22505500.0,95.230003
2022-03-28,96.339996,93.610001,95.699997,95.339996,16274200.0,95.339996
2022-03-29,95.660004,93.400002,95.339996,94.519997,38228800.0,94.519997
2022-03-30,97.110001,95.269997,96.320000,95.870003,22007500.0,95.870003
2022-03-31,96.889999,95.360001,96.419998,95.599998,17981400.0,95.599998
2022-04-01,97.500000,96.070000,96.779999,96.959999,22407600.0,96.959999

In [10]:
Vale.to_csv('C:/Users/Rafael/Aulas Phyton/teste.csv')

In [11]:
Vale.to_excel('C:/Users/Rafael/Aulas Phyton/teste.xlsx')

In [12]:
vale2 = pd.read_csv('C:/Users/Rafael/Aulas Phyton/teste.csv')

In [13]:
vale2

,Date,High,Low,Open,Close,Volume,Adj Close
0,2015-01-02,21.950001,21.059999,21.700001,21.280001,5658400.0,14.141929
1,2015-01-05,21.129999,20.510000,20.760000,20.959999,8603000.0,13.929265
2,2015-01-06,22.129999,21.070000,21.070000,21.799999,9879900.0,14.487500
3,2015-01-07,22.809999,21.969999,22.320000,22.600000,6130900.0,15.019153
4,2015-01-08,22.879999,22.110001,22.770000,22.840000,4667300.0,15.178648
...,...,...,...,...,...,...,...
1796,2022-03-28,96.339996,93.610001,95.699997,95.339996,16274200.0,95.339996
1797,2022-03-29,95.660004,93.400002,95.339996,94.519997,38228800.0,94.519997
1798,2022-03-30,97.110001,95.269997,96.320000,95.870003,22007500.0,95.870003
1799,2022-03-31,96.889999,95.360001,96.419998,95.599998,17981400.0,95.599998
1800,2022-04-01,97.500000,96.070000,96.779999,96.959999,22407600.0,96.959999